* {
	margin: 0;
	padding: 0;
}

html {
   scroll-behavior: smooth;
}


html, body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.message-footer .message-input {
	border:  1px solid #ddd;
	padding: 10px;
	border-radius: 50px;
}
.message-footer .form-control {
	border: none;
}
.message-footer .btn-primary {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border-top-left-radius: 50% !important;
   border-bottom-left-radius: 50% !important;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
.btn-primary {
	background-color: #3c4ef0;
	border-color: #3c4ef0; 
} 
.sidebar {
	background: #eff2fb;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-top: -65px;
}

.sidebar-header {
	background: #3c4ef0;
	color: #fff;
	height: 150px;
	z-index: 999;
	display: flex;
	justify-content: space-between;  
}
.sidebar-header .header-icon i {
	font-size: 22px;
	margin-left: 16px;
	cursor: pointer;
}
.container-custom {
	/*width: 100%;*/
}
.sidebar form .input-prepend {
	position: absolute;
	padding: 7px 14px;
}

.sidebar form .input-prepend i {
	color: #9095A4;
}
.sidebar form .form-control {
	height: 42px;
	background: #F0F0FB;
	border: none;
}
.sidebar form .form-control::placeholder {
    font-size: 12px; 
    text-align: center;
}
.sidebar form button {
	position: absolute;
	right: 30px;
	width: 34px;
	height: 34px;
	top: 39px;
	font-size: 11;
	font-weight: 300;
}

.sidebar .users-profiles .nav-pills {
	background: #e4e7ee;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
}
.sidebar .users-profiles .nav-pills .nav-item .nav-link {
	color: #9095A4;
	font-size: 14px;
	font-weight: 500;
}

.sidebar .users-profiles .nav-pills .nav-item .chat-number {
   width: 15px;
   height: 15px;
   background: #e4e7ee !important;
   border-radius: 50%;
   color: #7c8083;
}
.sidebar .users-profiles .nav-pills .nav-item .active {
	color: #000;
	background-color: #edf0f7;
	/*border-bottom: 2px solid #8472FC;*/
	border-radius: 30px;
} 
.sidebar .users-profiles .chat-profile {
	cursor: pointer;
}
.sidebar .users-profiles .chat-profile .profile-img {
	position: relative;
}
.sidebar .users-profiles .chat-profile .profile-img .user-image {
   /* width: 40px;
    height: 40px;*/
    position: relative;
    /*top: 12px;*/
}
.sidebar .users-profiles .chat-profile .profile-img .status {
 
	position: absolute;
	bottom: 0;
	right: 0;
	left: 26px;
	top: 26px;
}
.sidebar .admin-profile .status {
	position: relative;
	bottom: -18px;
	right: 23px;
}
.sidebar .users-profiles .chat-profile .profile-meta h5 {
	font-size: 13px;
}
.sidebar .users-profiles .chat-profile .profile-meta p {
	font-size: 11px;
}
.sidebar .user-story {
	margin-bottom: 20px;
}
.sidebar .user-story img {
	border: 2px solid #3c4ef0;
	padding: 2.5px;
	margin-bottom: 5px;
}
.sidebar .user-story p {
   font-size: 9px;
   font-weight: 600;
   margin-bottom: 0;
   line-height: 1.4;
}

.sidebar .users-profiles .chat-profile .profile-action p {
	font-size: 11px;
	display: flex;
	justify-content: flex-end;
}
.sidebar .users-profiles .chat-profile .profile-action .count-badge {
	background: #1a235a;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 50%;
}

.today-chat {
	font-size: 13px;
	margin-top: 20px;
	color: #8f9297;
}
.sidebar .users-profiles .chat-profile .profile-action a {
	font-size: 11px;
	color: #8c918b;
	text-decoration: none;
}
.sidebar .users-profiles .active-chat {
	background: #F0F0FB;
} 
.sidebar .users-profiles .chat-profile:hover {
	background: #F0F0FB;
}

.sidebar .admin-profile {
	margin-top: auto;
}



body .content,
body .content .message-main  {
	height: 100%;
}
body .content .message-main {
	display: flex;
	flex-direction: column;
	height: 100%;

}

.message-header {
	background: #fff;
	padding: 20px 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 10px 0px 20px 4px #e8e8e8;

}
.message-header .message-header-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #535353;
}

.message-header .message-header-icons {
	color: #535353;
	font-size: 20px;
}
.message-header .message-header-icons i {
	margin-left: 20px;
	cursor: pointer;
}
.message-body {
	height: 100vh;
	overflow-y: scroll; 
}
.message-footer {
	background: #fff;
	padding: 25px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
	/*box-shadow: 10px 0px 20px 4px #e8e8e8;*/
}


@media only screen and (max-width: 600px) {
  .sidebar { 
  	   overflow-y: scroll;
		height: 100% !important; 
	}


	.message-header {
		background: #fff;
		padding: 20px 15px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		box-shadow: 10px 0px 20px 4px #e8e8e8;

	}
		.message-header .message-header-profile h5 {
			font-size: 15px;
		}
	.message-header .message-header-profile {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #535353;
		/*margin-left: 20px;*/
		font-size: 15px;
	}

	.message-header .message-header-icons {
		color: #535353;
		font-size: 15px;  
	}
	.message-header .message-header-icons i {
		margin-left: 20px;
		cursor: pointer;
	}

	.message-footer {
		position: fixed;
		bottom: 0;
	}
}

.chatbot-icon {
   position: sticky;
   right: 16px;
   bottom: 16px;
   text-align: right;
}

.chatbot-icon img {
	width: 70px;
	height: 70px;
}


.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.progress {
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 5px;
  display: flex;
  background-image: -webkit-linear-gradient(left, 
    rgba(255,255,255,.5) 0%,
    rgba(255,255,255,.5) 50%,
    rgba(88, 89, 104,.5) 50.001%,
    rgba(88, 89, 104,.5) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  backgound-color: #666;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: .2s;
}

.progress.active {
    animation-name: Loader;
}

.progress.passed {
    background-position: 0 0; 
}

@-webkit-keyframes Loader {
  0%   { background-position: 100% 0; }
  100% { background-position: 0 0; }
}



/************************/
/************************/
/***** DEBUG STYLES *****/
/************************/
/************************/

.pause:hover .progress {
  animation-play-state: paused;
}

.pause .not-hovered {
  display: block;
}
.pause .hovered {
  display: none;
}

.pause:hover .not-hovered {
  display: none;
}
.pause:hover .hovered {
  display: block;
}

 

.close {
	color: #fff;
}
.close:hover {
	color: #fff;
}

.modal-content {
  background: #121216;
  /*padding: 50px;*/
  /*width: 100vw;*/
  color: #fff;
  font-family: sans-serif;
}


 .uploader {
	 display: block;
	 clear: both;
	 margin: 0 auto;
	 width: 100%;
	 max-width: 600px;
}
 .uploader label {
	 float: left;
	 clear: both;
	 width: 100%;
	 padding: 2rem 1.5rem;
	 text-align: center;
	 /*background: #fff;*/
	 border-radius: 7px;
	 border: 1px solid #eee;
	 transition: all 0.2s ease;
	 user-select: none;
}
 .uploader label:hover {
	 border-color: #454cad;
}
 .uploader label.hover {
	 border: 3px solid #454cad;
	 box-shadow: inset 0 0 0 6px #eee;
}
 .uploader label.hover #start i.fa {
	 transform: scale(0.8);
	 opacity: 0.3;
}
 .uploader #start {
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #start.hidden {
	 display: none;
}
 .uploader #start i.fa {
	 font-size: 50px;
	 margin-bottom: 1rem;
	 transition: all 0.2s ease-in-out;
}
 .uploader #response {
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #response.hidden {
	 display: none;
}
 .uploader #response #messages {
	 margin-bottom: 0.5rem;
}
 .uploader #file-image {
	 display: inline;
	 margin: 0 auto 0.5rem auto;
	 width: auto;
	 height: auto;
	 max-width: 180px;
}
 .uploader #file-image.hidden {
	 display: none;
}
 .uploader #notimage {
	 display: block;
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #notimage.hidden {
	 display: none;
}
 .uploader progress, .uploader .progress {
	 display: inline;
	 clear: both;
	 margin: 0 auto;
	 width: 100%;
	 max-width: 180px;
	 height: 8px;
	 border: 0;
	 border-radius: 4px;
	 background-color: #eee;
	 overflow: hidden;
}
 .uploader .progress[value]::-webkit-progress-bar {
	 border-radius: 4px;
	 background-color: #eee;
}
 .uploader .progress[value]::-webkit-progress-value {
	 background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	 border-radius: 4px;
}
 .uploader .progress[value]::-moz-progress-bar {
	 background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	 border-radius: 4px;
}
 .uploader input[type="file"] {
	 display: none;
}
 .uploader div {
	 margin: 0 0 0.5rem 0;
	 color: #5f6982;
}
 .uploader .btn {
	 display: inline-block;
	 margin: 0.5rem 0.5rem 1rem 0.5rem;
	 clear: both;
	 font-family: inherit;
	 font-weight: 700;
	 font-size: 14px;
	 text-decoration: none;
	 text-transform: initial;
	 border: none;
	 border-radius: 0.2rem;
	 outline: none;
	 padding: 0 1rem;
	 height: 36px;
	 line-height: 36px;
	 color: #fff;
	 transition: all 0.2s ease-in-out;
	 box-sizing: border-box;
	 background: #454cad;
	 border-color: #454cad;
	 cursor: pointer;
}
 
.outgoing {
	background: #3c4ef0;
	padding: 10px 20px;
	width: 100%;
	height: auto;
	color: #fff;
	margin-bottom: 0px;
	border-radius: 15px;
}

.outgoing p,
.incomming p {
  text-align: justify;
}

.incomming {
	background: rgb(241, 241, 241);
	padding: 10px 20px;
	width: 100%;
	height: auto;
	color: #535353;
	margin-bottom: 0px;
	border-radius: 15px;
}

.online-status {
	color: #30b730;
}