@import 'variable';
// variable 

.welcome {
  &__tittle {
    h2 {
      color: #00112C;
      font-size: 32px;
      margin-top: 0;
      font-weight: 600 !important;
    }
  }
}
.home__admin .card {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08),0px 4px 24px rgba(0,0,0,0.08);
  border-radius: 8px;
  padding: 1.3rem 2rem;
  font-family: $graphik__bold;
  color: #000;
  .img-label {
    img {
      width: 75px;
      height: 75px;
    }
  }
  .number-label {
    p {
      margin-top: inherit;
      margin-bottom: 4px !important;
      white-space: nowrap;
      padding-bottom: 0;
      font-family: $graphik__semibold;
      // @include typo($default__font_size);
    }
  }
  .number {
    @include typo($font__34,$graphik__semibold);
  }
  .panel {
    &__tittle {
      @include typo($font__24,$graphik__semibold)
    }
  }
  .see_all_btn {
    color: $black__100;
    background-color: transparent;
    border: 1px solid $black__100;
    padding: 7px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    font-family: $graphik__regular;
    &:hover {
      background-color: $black__100;
      border-color: $black__100;
      color: white;
      border-radius: 2px;
    }
  }
  .table {
    thead {
      th {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: $black__100;
        font-family: $graphik__semibold;
      }
    }
    tbody {
      td {
        a {
          color: #5C6E89;
        }
        .table_domain_link {
          color: #1AAFD0;
        }
        .logo_user {
          color: #1AAFD0;
          background: #E8F7FB;
          border-radius: 25px;
          padding: 5px;
        }
        .hammer_icon {
          img {
            width: 20px;
            transform: rotate(270deg);
            border: 1px solid $black__100;
            padding: 10px 4px;
            box-sizing: content-box;
          }
        }
      }
    }
  }
  .percentage__graph {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2.5px solid #D8D8D8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    >div {
      font-size: $font__24;
      font-family: $graphik__semibold;
      line-height: 1;
      color: $black__100;
    }
    .percentage {
      font-size: 14px;
      font-family: $graphik__semibold;
      line-height: 1.3;
      color: $black__100;
    }
  }

}


// SIDE BAR 
header {
  .navbar-header {
    width: 6rem;
    padding-left: 0;
    img {
      margin: 0px 10px;
    }
  }
  .left-sidebar {
    width: 6rem !important;
    background-color: $black__100;
  }
  .sidebar-nav {
    background-color: transparent;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    left: -50px;
  }
}

.light_blue {
  background-color: #179DBA;
  border-color: #1AAFD0;
  color: #ffffff;
  font-family: $graphik__semibold;
}
.Domains__lists_link {
  font-family: $graphik__medium;
}
.blog__tittle {
  font-size: 14px;
  color: $black__100;
  font-family: $graphik__semibold;

}
footer {
  ul {
    li {
      margin-right: 15px;
      a {
        font-size: $default__font_size;
        color: $black__100;
        font-family: $graphik__regular;
      }
    }
  }
}

.mobile-navbar {
  .navbar-toggler {
    color: #000;
    box-shadow: none;
    outline: none;
    border: none
  }
  ul {
    margin-top: 2rem;
    li {
      margin-bottom: 1.25rem;
      padding-bottom: .500rem;
      border-bottom: 1px solid #a8a8a8;
      a {
        color: #000;
        font-size: 1.300rem;
      }
    }
  }
}

.tab-mobile {
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}